client/ContactSyncClient/trunk/src/main/java/com/swayam/mobile/sync/client/xml/client/contactsynchronizer/ContactSynchronizer.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://contacts.mobile.webservices.swayam.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://contacts.mobile.webservices.swayam.com/" name="ContactSynchronizerService">
<types>
<xsd:schema>
<xsd:import namespace="http://contacts.mobile.webservices.swayam.com/" schemaLocation="http://localhost:8090/MobileContactSynchronizer/ContactSynchronizer?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="startTransaction">
<part name="parameters" element="tns:startTransaction"></part>
</message>
<message name="startTransactionResponse">
<part name="parameters" element="tns:startTransactionResponse"></part>
</message>
<message name="export">
<part name="parameters" element="tns:export"></part>
</message>
<message name="exportResponse">
<part name="parameters" element="tns:exportResponse"></part>
</message>
<message name="endTransaction">
<part name="parameters" element="tns:endTransaction"></part>
</message>
<message name="endTransactionResponse">
<part name="parameters" element="tns:endTransactionResponse"></part>
</message>
<portType name="ContactSynchronizer">
<operation name="startTransaction">
<input message="tns:startTransaction"></input>
<output message="tns:startTransactionResponse"></output>
</operation>
<operation name="export">
<input message="tns:export"></input>
<output message="tns:exportResponse"></output>
</operation>
<operation name="endTransaction">
<input message="tns:endTransaction"></input>
<output message="tns:endTransactionResponse"></output>
</operation>
</portType>
<binding name="ContactSynchronizerPortBinding" type="tns:ContactSynchronizer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="startTransaction">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="export">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="endTransaction">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ContactSynchronizerService">
<port name="ContactSynchronizerPort" binding="tns:ContactSynchronizerPortBinding">
<soap:address location="http://localhost:8090/MobileContactSynchronizer/ContactSynchronizer"></soap:address>
</port>
</service>
</definitions>